.top-container {
    background-color: #C7F2A4;
    padding: 150px 30px 30px;
    /* border: solid;
    margin: 10px; */
    position: relative;
}
.bottom-cloud {
    position: absolute;
    bottom:300px;
    left:300px;
}
.top-cloud {
    position: absolute;
    top:50px;
    right:300px;
}

h1 {
    margin: 0 auto;
    width:50%;
}

body {
    margin: 0;
    text-align: center;
    
}

.underline {
    text-decoration: underline;
}

/* img{
    display:block;
} */